ul li{
    list-style-type: none;
    margin: 80px;
    padding: 0;  
    display: inline

}
ul a{
    text-decoration: none;
    color: black;
}
nav{
    background-color:rgb(190, 162, 150); 
}
section p{
    
}
section iframe{
    border: 3px solid rgb(216, 168, 109);
    border-radius: 30px;
}
 th, td {
    border: 1px solid;
  }
  footer h1{ text-align: center;
  }
form label{
    color: chocolate;
    
} 
form{
    border: 1px solid black;
    border-radius: 30px; width: 35%;
    padding: 20px;
}
table{
    margin-top: 30px;
}
.titre{
    font-style:italic;
}
.container{
    padding-left: 35%;

}
nav ul{
    font-size: medium;
}
section img{
    
    border: 3px solid rgb(216, 168, 109);
    border-radius: 30px;}
    section p{
        font-style: italic;
        font-size: large;
    }
  